{% extends 'mailing/base.html' %}


{% block content %}
<br>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="cart-body">
                <div class="card-body">
                    {{ form }}
                    <h3 class="mb-2">ФИО: {{ object.full_name }}</h3>
                    <p class="mb-2">электронная почта: {{ object.email }}</p>
                    <p class="mb-2">комментарий: {{ object.comment }}</p>
                    <p class="mb-2">Пользователь: {{ object.owner }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
