<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'mailing:index' %}">Главная</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'mailing:mailing_list' %}">Рассылки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blog:blog_list'%}">Блог</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mailing:client_list'%}">Список клиентов</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          {% if user.is_authenticated %}
                    <a href="{% url 'users:logout' %}" class="btn btn-primary mb-3">Выйти</a>
                {% else %}
                    <a href="{% url 'users:login' %}" class="btn btn-primary mb-3">Войти</a>
                    <a href="{% url 'users:register' %}" class="btn btn-primary mb-3">Регистрация</a>
                {% endif %}
        </form>
      </div>
    </div>
  </nav>
